<p id="notice"><%= notice %></p>
<div class="container">
  <h2>Reports</h2>
  <p>Search result</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Event</th>
        <th>Browser</th>
        <th>Domain</th>
        <th>Created</th>
        <!--<th colspan="3"></th>-->
      </tr>
    </thead>

    <tbody>
      <% @reports.each do |report| %>
        <tr>
          <td><%= report.id %></td>
          <td><%= report.event_id %></td>
          <td><%= report.browser %></td>
          <td><%= report.domain %></td>
          <td><%= report.created_at.to_date %></td>
          <!--<td><%= link_to 'Show', report %></td>-->
          <!--<td><%= link_to 'Edit', edit_report_path(report) %></td>-->
          <!--<td><%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'New Report', new_report_path %>
</div>
<br>

