<div class="container">
  <div class="checkbox">
    <label><input type="checkbox" value="">Event id</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" value="">Domain</label>
  </div>
  <div class="checkbox disabled">
    <label><input type="checkbox" value="" disabled>Browser</label>
  </div>
</div>