<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @report.event_id %>
</p>

<p>
  <strong>Browser:</strong>
  <%= @report.browser %>
</p>

<p>
  <strong>Domain:</strong>
  <%= @report.domain %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
